{% extends 'base.html.twig' %}

{% block title %}Page program{% endblock %}

{% block body %}
    <h1>{{title}}</h1>
    <section>
        <h2>programs list</h1>
    </section>
    <button class="btn btn-primary">Voir plus</button>
    <script src="{{ asset('scripts/index.js') }}"></script>
{% endblock %}